# Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Logs
*.log
logs/
docker/logs/

# Docker volumes and persistent storage
docker/postgres/
docker/minio/
docker/plugins/

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Docker Compose overrides
docker-compose.override.yml

# GitHub Actions cache
/.github/.cache

# DBT cache and build artifacts
banking_dbt/.dbt/
banking_dbt/analyses/
banking_dbt/logs/
banking_dbt/macros/
banking_dbt/seeds/
banking_dbt/target/
banking_dbt/tests/

# MinIO system files (to avoid tracking internal metadata)
docker/minio/data/.minio.sys/
